<div class="foot" [ngStyle]="{'background-color':'#311B92'}">
<br>
<br>
<div class="container">
  <div class="row">
      <div class="col-md-6">
        <div class="follow-box">
           
           <ul class="follow-box-copyright" [ngStyle]="{'list-style-type': 'none','float':'left'}">
          <h3 [ngStyle]="{'color':'#AED6F1'}" id="abt">Follow Us</h3>
          <li><br></li>
             <li [ngStyle]="{'float': 'left', 'padding': '10px'}"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f fa-3x"></i></a></li>
             <li [ngStyle]="{'float': 'left','padding': '10px'}"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
             <li [ngStyle]="{'float': 'left','padding': '10px'}"><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>						   
           </ul>
           <br>
           <br>
           <br>
          
         </div>				
      </div>

    <div class="col-md-6">
      
      <ul class="follow-box-contact"[ngStyle]="{'list-style-type': 'none','float':'right'}">
        <h3 [ngStyle]="{'color':'#AED6F1'}">Contact Us</h3>
        <li><br></li>
        <li><i class="fa fa-phone" aria-hidden="true" [ngStyle]="{'color': '#0066FF'}"></i><a href="tel:+91 1111222234" [ngStyle]="{'color':'#AED6F1','text-decoration': 'none'}">+91 1111222234</a></li>
        <li><br></li>
        <li [ngStyle]="{'color': 'darkblue'}"><i class="fa fa-envelope" [ngStyle]="{'color': '#0066FF'}"></i> <a href="mailto:rohit.e0320022@sret.edu.in" [ngStyle]="{'color':'#AED6F1','text-decoration': 'none'}">rohit.e0320022@sret.edu.in</a></li>
        <li><br></li>
        <li class="loaction" [ngStyle]="{'color': '#0066FF'}"><i class="fa fa-location-arrow"></i> <a href="https://www.google.com/maps/place/Chennai,+Tamil+Nadu/@13.0474878,80.0689252,11z/data=!3m1!4b1!4m5!3m4!1s0x3a5265ea4f7d3361:0x6e61a70b6863d433!8m2!3d13.0826802!4d80.2707184" style="color:#AED6F1;text-decoration: none;">Chennai, Tamil Nadu, India</a></li>
      </ul>
    </div>
    </div>
    <br>
    <p [ngStyle]="{'color':'#AED6F1'}">Copyrights © 2021 TechFests. All rights reserved</p>
    <br>
</div>
</div>